@use "styles/index" as *;

.wasvalidated {
    .cinput {
        &-valid {
            fieldset {
                border: 1px solid $success-500;
                border-radius: 4px;
            }
        }

        &-invalid {
            fieldset {
                border: 1px solid $danger-500;
                border-radius: 4px;
            }
        }
    }

    .form-helper-text {
        color: $danger-500;
        font-size: 13px;
    }
}
